/* styleScreen.css */


/* include style.043.css */

body {
    background: #1c1e25;
}

a {
    text-decoration: none;
    vertical-align: top;
    color: #50fa7b;
}

a:hover {
    color: #76ff98;
}


/* Text font */

p,
td,
ul,
li {
    font-family: "Roboto", sans-serif;
}

.text0,
.text1,
.text2,
.text3,
.text4,
.text9 {
    font-family: "Roboto", sans-serif;
}


/* Chapter Headings font */

.texthead {
    font-family: "Roboto Slab", sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #f55;
}

.textagend,
.texth,
.quote,
.section,
.ssection,
.sssection {
    font-family: "Roboto", sans-serif;
}