/* style.043.css */


/* Base Style Sheet */


/* Default font-family is set for printing */


/* General */

body {
    background: #282a36;
    color: #f8f8f2;
    margin-top: 0;
    margin-left: 0;
    font-family: "Roboto Slab", serif;
}

img {
    vertical-align: bottom;
    border-radius: 5px;
    padding: 10px;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

p {
    font-family: "Roboto Slab", serif;
}

code {
    color: #f8f8f2;
    font-weight: bold;
    vertical-align: baseline;
}

p.center {
    text-align: center
}

table {
    border-radius: 5px;
    width: 50vmax;
    margin: 0 auto;
}

table.center {
    border: 1px solid #282a36;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

tr.banner {
    height: 120px
}

tr.navigate {
    height: 20px
}

tr.content {
    height: 600px
}

td {
    font-family: "Roboto Slab", serif;
}

td.tbody {
    font-family: "Roboto Slab", serif;
    background: #282a36
}

td.content {
    font-family: "Roboto Slab", serif;
    background: #282a36
}

td.banner {
    width: 250px
}

td.right {
    width: 150px
}

td.title {
    background: #ebeffd
}

td.assess {
    background: #fdfbb7
}

td.half {
    width: 50%
}

td.w15 {
    width: 15%
}

td.w20 {
    width: 20%
}

td.lateral {
    width: 700px;
    display: none;
}

td.w33 {
    width: 33%
}

td.w150 {
    width: 150px
}

div.center {
    text-align: center
}

ul,
li {
    font-family: "Roboto Slab", serif;
}

ul.center {
    text-align: center
}

pre {
    font-family: "JetBrains Mono", serif;
    margin-left: 15px;
    font-weight: bold;
    color: #f8f8f2;
    background: #282a36;
    border-radius: 5px;
    border: 1px solid #6272a4;
    padding: 8px;
}

.tbody {
    background: #FFFFFF;
    width: 700px;
}

.text3 {
    font-family: "Roboto Slab", serif;
}

.panel1 {
    background: #AEE7FC;
}


/* Chapter Headings */

.texthead {
    font-family: "Roboto Slab", serif;
    font-size: x-large;
    font-weight: bold;
    color: #f55;
}

.texth {
    font-family: "Roboto Slab", serif;
    font-size: medium;
    font-weight: bold;
    color: #ffb86c;
}

.quote {
    font-family: "Roboto Slab", serif;
    font-style: italic;
}

.textagend {
    font-family: "Roboto Slab", serif;
    color: #f55;
}

.section {
    font-family: "Roboto Slab", serif;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff79c6;
}

.ssection {
    font-family: "Roboto Slab", serif;
    font-size: medium;
    font-weight: bold;
    color: #ff79c6;
}

.sssection {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #ff79c6;
}

.top {
    vertical-align: top;
}

.tup {
    vertical-align: top;
    color: #8be9fd;
}

.defin {
    font-family: "JetBrains Mono", serif;
    color: #bd93f9;
    font-weight: bold;
    background: #44475a;
}


/* Highlighting Table Rows */

.desc {
    background: #EDEDFE;
    text-align: center;
}

.value {
    background: #44475a;
    text-align: center;
}

.addre {
    background: #8be9fd;
    text-align: left;
}

.addrec {
    background: #8be9fd;
    text-align: center;
}

.oper {
    color: #f55;
    font-style: italic;
}


/* Highlighting Embedded Code */

.code {
    font-family: "JetBrains Mono", serif;
    color: #ffb86c;
    font-weight: bold;
    vertical-align: baseline;
}


/* Highlighting Text */

.high {
    color: #bd93f9;
}

.low {
    color: #8be9fd;
}

.grey {
    color: #bd93f9;
    font-style: italic;
}

.darkgrey {
    color: #44475a;
}


/* Highlighting Code Blocks */

.result {
    background: #222;
}

.error {
    background: #99475a;
}

.white {
    background: #FFFFFF;
}